/* There's some sample CSS here which you can use or nuke as you like */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

html {
  /* Make #id links scroll smoothly */
  scroll-behavior: smooth;
}

body {
  /* Change to something you like, but please do customize the font! */
  font-family:"Teko", serif;
  line-height: 1.4;
  /* reset default margins */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:rgb(90, 53, 8);
  text-align:center;
  font-size: 25px;
}

.hero {
  box-sizing: border-box;
  /* Full screen hero section */
  width: 100%;
  height: 100dvh;
  /* Center the content vertically and horizontally */
  display: grid;
  place-content: center;
  /* Custom text and stuff */
  background: #1b6e00;
  color: white;
  font-size: 70px;
  text-align: center;
padding: 100px;
/* A little "activation" to demonstrate JS is working in the template */
}


main {
  /* Make sure our content can scroll the hero away */
  min-height: 100dvh;
  max-width: 30em; /* choose a width for text */
  line-height: 1.8; /* choose a line spacing */
  font-size: 30px; /* choose a font size */
  margin: 0 auto; /* center the content */
}

a{
  color:brown;
  text-decoration:none;
  font-weight:bolder;
}

h2{
  padding-top:100px;
  font-size:75px;
}

.skibidi{
  max-width:fit-content;
  max-height:400px;
  border:black solid 5px;
}